<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/assets/application.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgtUj9-u9zRi20k6Apg-Ii9TqbJmFa_2Q&sensor=false&marker=Portland,+Oregon"></script>
    <script type="text/javascript" src="/assets/application.js"></script>
  </head>
    <body>
<script type="text/javascript">
$(document).ready(function() {
    initialize();

    geoLoop();
    // codeAddress("Gresham");
    $("h1").click( function() {
        alert("Help!");
    });

    function popitup(url) {
        newwindow=window.open(url,'name','height=200,width=150');
        if (window.focus) {
            newwindow.focus();
        }
        return false;
    }
});
// 1. SET SOME GLOBAL VARS THAT INITIALIZE WILL SET
// AND CODEADDRESS WILL USE
var geocoder; //codeAddress needs this, initialize sets this
var map; //codeAddress needs this, initialize sets this
var currentPopup; //codeAddress needs this
var homeCenter; // center of the map- used when closing popups

function initialize() {
    //geocoder is a global var, no var prefix here
    geocoder = new google.maps.Geocoder();
    var myLatlng = homeCenter = new google.maps.LatLng(45.528, -47.676); // this is Portland
    var mapOptions = {
        zoom: 12,
        center: new google.maps.LatLng(45.528, -122.676),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    //map is a global var, no var prefix here
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:"Freecycle Mapper!"
    });
}

// This function adds the address passed to the map as a marker
function codeAddress(lat, longs, infoWin) {
  var newLatLng = new google.maps.LatLng(lat, longs);
    // var address = document.getElementById("address").value;
    // console.log(address);
    // geocoder.geocode( { 'address': address}, function(results, status) {
    //     if (status == google.maps.GeocoderStatus.OK) {
            // map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map, // using global "map" var here
                // position: results[0].geometry.location
                position: newLatLng
            });
            var popup = new google.maps.InfoWindow({
                content: infoWin,
                maxWidth: 300
            });
            google.maps.event.addListener(marker, "click", function() {
                if (currentPopup != null) {
                    currentPopup.close();
                    currentPopup = null;
                }
                popup.open(map, marker);
                // map.setCenter(results[0].geometry.location);
                currentPopup = popup;
            });
            google.maps.event.addListener(popup, "closeclick", function() {
                //map.panTo(homeCenter);
                currentPopup = null;
            });


        // }
        // else {
        //     alert("Geocode was not successful for the following reason: " + status);
        // }
    // });
}
function MakeSubjectList(spec) {
  var post_subject_item;
  for (var i = 0; i < spec.length; i++) {
    post_subject_item = $('<li>' + spec[i].subject + '</li>');
    $('#subject-list').prepend(post_subject_item);
  }
}

function MakeLocationList(spec) {
    var post_location_item;
    for (var i = 0; i < spec.length; i++) {
        if ( typeof spec[i].location !== null) {
            post_location_item = $('<li>' + spec[i].location + '</li>');
            $('#location-list').prepend(post_location_item);
        }
    }
}



function geoLoop() {

  // var data = [{"subject":"[freecycleportland] OFFER - Canon Multi-function Color Unit - SW PDX","location":"SW PDX"}]
  // @locations is an array of objects of the form:
  // id, date, message_id, subject, location, body, latitude, longitude, data, created_at, updated_at
  // var data = <% @locations %>

  // var spec = <%= @offers.to_json %>;

  // MakeLocationList(spec);
  // MakeList(spec);
  // console.log(spec[]);
  // var spec = [{"subject":"whatever","location":"SW PDX"}];
  // var what= <%= @locations.to_json %>;

  // AJAX
  $.ajax ({
    url: "/locations",
    dataType: "json",
    type: "GET",
    context: this,
    success: function(data) {
      // generate location list via jquery
      MakeLocationList(data);
      // generate subject list via jquery
      MakeSubjectList(data);

      for (var i = 0; i < data.length; i++) {
        if (typeof data[i].location === 'string') {
          codeAddress(data[i].latitude, data[i].longitude, data[i].subject);
          console.log(data);
        }
      }

    }
  });

}
    </script>



    <div class="container">

      <header>
        <!-- banner -->
        <div id="logo">
          <a href="#"><img src="/assets/logo.png" alt="mapper logo"></a>
        </div>
        <h1>freecycle mapper</h1>
        <div id="icons">
          <img src="/assets/facebook-icon.png" alt="link to facebook">
          <img src="/assets/email-icon.png" alt="email us">
        </div>

      </header>

      <section>
        <div class="map">
          <h2>freecycle items available in Portland, Oregon</h2>
          <div id="map_canvas" style="width:600px; height:600px">
          </div>
        </div>
      </section>

      <aside>
        <h3 id="form-title">Filter your search</h3>
        <form>
          <fieldset>
            <input type="text" placeholder="Portland, Oregon">
            <span class="help-block">Enter anything you would enter in a Google Maps search</span>
            <button type="submit" class="btn">Filter</button>
          </fieldset>
        </form>

        <div class="display-list">
          <h3>Recent Posts</h3>
          <ul id="tabs">
              <li><a href="#" name="tab1">MAP</a></li>
              <li><a href="#" name="tab2">ALL</a></li>
          </ul>
          <div id="content">
            <div id="tab1">
              <ul id="location-list"></ul>
            </div>
            <div id="tab2">
              <ul id="subject-list"></ul>
            </div>
          </div>
        </div>
      </aside>

      <footer>
        <div class="freecycle-logo">
          <a href="#">
            <img src="http://static.t-f-n.org/images/freecycle_logo.jpg" alt="free cycle logo" width="150px" height="50px">
          </a>
        </div>
      </footer>

    </div>
  </body>
</html>