<h1>You just added that location to our database</h1>
<h1>YAY!</h1>
<h2>Here is your reward:</h2>

<!-- created _location partial (template) and here we go -->
<%= render :partial => "location", :locals => { :location => @location } %>