<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/assets/application.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgtUj9-u9zRi20k6Apg-Ii9TqbJmFa_2Q&sensor=false&marker=Portland,+Oregon"></script>
    <script type="text/javascript" src="/assets/application.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Freecycle Mapper</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="top container">
        <!-- banner -->
        <div>
          <h1><img src="/assets/Recycle.jpg" alt="mapper logo" width="150px" height="50px">Freecycle Mapper</h1>
        </div>
        <div id="icons">
<!--           <img src="/assets/facebook-icon.png" alt="link to facebook">
          <img src="/assets/email-icon.png" alt="email us"> -->
        </div>

      <%= yield %>

      <footer>
        <div class="freecycle-logo">
            <!-- <img src="http://static.t-f-n.org/images/freecycle_logo.jpg" alt="free cycle logo" width="150px" height="50px"> -->
        </div>
      </footer>

    </div>
  </body>
</html>
